*{
    background-color: black;
    color: aliceblue;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
@font-face {
    font-family: "Ubuntu";
    src: url(/static/fonts/Ubuntu/Ubuntu-Regular.ttf);
}
canvas{
    display: none;
    background-size: contain;
    background-image: url(/static/assets/wp6592846.jpg);
}
body {
    height: 100vh;
    width:  100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn-play1v1 {
    position: relative;
    display: block;
    
    font-family: "Ubuntu";
    font-size: 2rem;
    background-color: rgb(46, 46, 46);
    padding: 20px 80px;
    border: none;
    box-shadow: inset 0px 0px 0px 8px #504c40;
    cursor: pointer;
}
.game-container{
    width: fit-content;
    height: fit-content;
}
.player-status{
    display: none;
    height: 50px;
    width: 100%;
    padding: 10px;
    background-color: rgb(77, 77, 77);
    justify-content: center;
    align-items: center;
}
.player1-health{
    background-color: #1c7705;
    border-radius: 15px 0 0 15px;
    border: 1px solid black;
    border-right: none;
    float: right;
    height: 20px;
    width: 100%;
}
.game-time{
    position: absolute;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.player2-health{
    background-color: rgb(62, 93, 95);
    border-radius: 0px 15px 15px 0px;
    border: 1px solid black;
    border-left: none;
    height: 20px;
    width: 100%;
}
.health-bar-container{
    height: 20px;
    width: 100%;
    background-color: transparent;
}
.end-game-div{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: transparent;
    top: 0%;
    bottom: 0%;
    right: 0;
    left: 0%;
}
.end-game-div button{
    font-family: "Ubuntu";
    font-size: 2rem;
    background-color: rgb(46, 46, 46);
    padding: 20px 80px;
    border: none;
    box-shadow: inset 0px 0px 0px 8px #504c40;
    cursor: pointer;
}
.player-selection{
    display: block;
}
.player-selection img{
    cursor: pointer;
}