<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='script.js')}}"></script>
    <title>Ninja - Game</title>
</head>
<body>
    <div class="game-container">
        <div id="player_status" class="player-status">
            <div class="health-bar-container">
                <div id="player1_health" class="player1-health"></div>
            </div>
            <div class="game-time">
                <span id="game_time">60</span>
            </div>
            <div class="health-bar-container">
                <div id="player2_health" class="player2-health"></div>
            </div>
            

        </div>
        <div id="player-selection" class="player-selection">
            <h1>Select Player</h1> 
            <div class="player-selection-flex">
                <div>
                    <h2>Player 1</h2>
                    <p>Choose Charakter</p>
                    <img id="green_ninja_png_p1" src="/static/assets/ninja_green.png" alt="ninja_green">
                    <img id="red_ninja_png_p1" src="/static/assets/ninja_red.png" alt="ninja_red">
                    <img id="badman_ninja_png_p1" src="/static/assets/badman.png" alt="badman">
                    <img id="spidy_png_p1" src="/static/assets/spidy.png" alt="spidy">
                    <p>Choose Weapon</p>
                    <img id="weapon_1_p1" src="/static/assets/weapons/1.png" alt="weapon_1">
                    <img id="weapon_2_p1" src="/static/assets/weapons/2.png" alt="weapon_2">
                    <img id="weapon_3_p1" src="/static/assets/weapons/3.png" alt="weapon_3">
                    <img id="weapon_4_p1" src="/static/assets/weapons/4.png" alt="weapon_4">
                </div>
                <div>
                    <h2>Player 2</h2>
                    <p>Choose Charakter</p>
                    <img id="green_ninja_png_p2" src="/static/assets/ninja_green.png" alt="ninja_green">
                    <img id="red_ninja_png_p2" src="/static/assets/ninja_red.png" alt="ninja_red">
                    <img id="badman_ninja_png_p2" src="/static/assets/badman.png" alt="badman">
                    <img id="spidy_png_p2" src="/static/assets/spidy.png" alt="spidy">
                    <p>Choose Weapon</p>
                    <img id="weapon_1_p2" src="/static/assets/weapons/1.png" alt="weapon_1">
                    <img id="weapon_2_p2" src="/static/assets/weapons/2.png" alt="weapon_2">
                    <img id="weapon_3_p2" src="/static/assets/weapons/3.png" alt="weapon_3">
                    <img id="weapon_4_p2" src="/static/assets/weapons/4.png" alt="weapon_4">
                </div>
            </div>
        </div>
        <button class="btn-play1v1" id="btn-play1v1" >Play 1 vs. 1</button>
        <div id="end-game-div" class="end-game-div"><button id="end-game-btn"></button></div>
        <canvas id="canvas"></canvas>
    </div>
</body>
</html>
